*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.banner{
    background-image: url('https://images.unsplash.com/photo-1549298916-f52d724204b4?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=813');
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10% 100px 0;
    width: 100%;
}
.banner--header{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 25px;
}
.banner--header span{
    color: #2edaa0;
}
.banner p{
    color: #fff;
    font-size: 0.9rem;
    font-weight: normal;
    margin-bottom: 25px;
    line-height: 1.5rem;
}
.shop-now{
    padding: 15px 35px;
    border-radius: 10px;
    border: none;
    color: #927156;
    font-size: 1rem;
}
.shop-now i {
    font-size: 0.8;
    margin-right: 10px;
}
@media screen and (max-width: 500px){
    .banner{
        height: 50vh;
        padding: 10% 10px;
    }
    .banner--header{
        font-size: 2rem;
    }
    .banner p{
        max-width: 300px;
    }
    .banner p br{
        display: none;
    }
}

