.cart-wrapper{
    padding: 20px 100px;
    background-color: #fafafa;
    display: flex;
}
.cart-list{
    width: 70%; 
    background-color: #fff;
    padding: 30px;
    color: #707071;
}
.cart-header-wrapper{
    width: 100%;
    font-size: 0.7rem;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.product-content-wrapper{
    display: flex;
    font-size: 0.7rem;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.cart-product-detail{
    width: 50%;
}
tr:hover {background-color: #ddd;}
.product-image{
    display: flex;
    margin: 10px 0;
    width: 50%;
}
.product-image img{
    height: 75px;
    max-width: 80px;
}
.product-image-title{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    overflow: hidden;
}
.product-image-title p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.product-image-title i{
    width: fit-content;
}
.empty-cart{
    text-align: center;
    margin-bottom: 30px;
}
.item-number{
    width: 45px;
    padding: 5px;
}
.continue-shopping{
    font-size: 0.7rem;
    color: #67564e;
}
.order-summary{
    width: 30%;
    background-color: #f5f5f6;
    padding: 30px;
    font-size: 0.75rem;
    font-weight: 700;
    color: #707071;
}
.order-summary-title{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
}
.item-count{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
#shipping-method, #coupon{
    width: 100%;
    padding: 7px;
    color: #333;
    margin: 20px 0;
    border: none;
}
#shipping-method:focus, #coupon:focus{
    outline: none;
}
.apply-button, .checkout{
    background-color: #67564e;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.checkout{
    width: 100%;
}