*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.categories{
    padding: 20px 100px;
    text-align: center;
}
.categories--wrapper{
    margin-top: -30px;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    padding: 10px;
}
.category{
    overflow: hidden;
    height: 250px;
    background-color: brown;
    border-radius: 25px;
    position: relative;
}
.categoryImage{
    width: 100%;
}
.categoryName{
    position: absolute;
    top:70%;
    font-size: 12px;
    width: 120px;
    padding: 10px 0;
    border-radius: 0 5px 5px 0;
    background-color: #d0b6b0;
}
@media screen and (max-width:500px) {
    .categories{
        padding: 10px;
    }
    .categories--wrapper{
        grid-template-columns: auto auto;
        gap: 10px;
    }
    .category{
        height: 100px;
        border-radius: 10px;
    }
    .categoryName{
        font-size: 10px;
        width: 100px;
        padding: 5px 0;
        border-radius: 0 5px 5px 0;
    }
}