* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
.desktop--nav {
    padding: 20px 100px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #a4a1a2;
    height: 15vh;
    /* justify-content; */
}
.mobile--nav{
    display: none;
}
.nav--logo{
    display: flex;
    align-items: center;
}
.nav--logo img{
    border-radius: 50%;
    margin-right: 10px;
}
.nav--menu{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navigation-items > li{
    list-style-type: none;
    display: inline;
    margin: 0 10px;
}
li a {
    color: #a4a1a2;
}
li a:hover{
    color: #ac8a70;
    border-bottom: 2px solid #ac8a70;
}
#search{
    width: 200px;
    height: 35px;
    border-radius: 20px;
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    margin-right: 10px;
}
.shopping-cart{
    margin-right: 10px;
    position: relative;
    padding: 10px;
}
.shopping-cart #itemCount {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
}
.profile-container{
    height: 35px;
    width: 35px;
    border: 2px solid #ac8a70;
    border-radius: 50%;
    overflow: hidden;
}
.profile-picture{
    height: 33px;
}

@media screen and (max-width: 500px){
    .desktop--nav{
        display: none;
    }
    .mobile--nav{
        display: block;
        display: flex;
        align-items: center;
        height: 10vh;
        padding: 0 10px;
    }
    .shopping-cart{
        margin-left: auto;
    }
    .nav--logo img{
        margin-left: 10px;
        width: 30px;
        height: 30px;
    }
    .profile-container{
        height: 22px;
        width: 22px;
    }
    .profile-picture{
        height: 20px;
        width: 20px;
    }
}